### IRIS DATASET

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Read Data

In [2]:
iris_data = pd.read_csv('iris.csv')
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Data Preprocessing

In [3]:
iris_data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
iris_data.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

## Extract Feathers And Label

In [7]:
data = iris_data[['sepal_length','sepal_width','petal_length','petal_width']]
data['species'] = iris_data['species']

In [8]:
iris_data['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [9]:
data.species.replace(['setosa', 'versicolor', 'virginica'], [0,1,2], inplace= True)

In [10]:
data = data.astype(float)

In [11]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1:]

In [12]:
y

     species
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
145      2.0
146      2.0
147      2.0
148      2.0
149      2.0

[150 rows x 1 columns]

In [13]:
x.shape, y.shape

((150, 4), (150, 1))

In [14]:
#setosa = iris_data[iris_data.values == 0]
#setosa.tail(5)
setosa = iris_data.iloc[:50]
setosa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
#versicolor = iris_data[iris_data.values == 1]
#versicolor.tail(5)
versicolor = iris_data.iloc[50:100]
versicolor.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [16]:
#virginica= iris_data[iris_data.values == 2]
#virginica.tail(5)
virginica = iris_data.iloc[100:150]
virginica.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

## Standard Scalling

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
ss = StandardScaler()

In [19]:
S_data = ss.fit_transform(x)

In [20]:
data = pd.DataFrame(S_data)
data.head(5)

          0         1         2         3
0 -0.900681  1.019004 -1.340227 -1.315444
1 -1.143017 -0.131979 -1.340227 -1.315444
2 -1.385353  0.328414 -1.397064 -1.315444
3 -1.506521  0.098217 -1.283389 -1.315444
4 -1.021849  1.249201 -1.340227 -1.315444

In [21]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## Splitting Data

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, shuffle = True, random_state = 10)

In [24]:
shape = xtrain.iloc[0].shape
shape

(4,)

## Import Sequential and Dense

In [25]:
from keras.models import Sequential
from keras.layers import Dense

In [26]:
model = Sequential()

In [27]:
xtrain.shape

(120, 4)

In [28]:
ytrain.shape

(120, 1)

In [29]:
model.add(Dense(units = 10, input_shape = (4,)))
model.add(Dense(units = 6, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
#model.add(Dense(optimizer = 'adam',loss = 'binary_crossentropy', metrics = ['accu']))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                50

 dense_1 (Dense)             (None, 6)                 66

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 123
Trainable params: 123
Non-trainable params: 0
_________________________________________________________________

In [30]:
#history = model.fit(xtrain,ytrain. validation = 0.2,shuffle =True ,epochs = 100, verbose = 1)
history = model.fit(xtrain, ytrain, validation_split=0.2, epochs=10, verbose=1)

Epoch 1/10
3/3 [==============================] - 2s 182ms/step - loss: 0.0082 - accuracy: 0.3125 - val_loss: -0.2671 - val_accuracy: 0.2917
Epoch 2/10
3/3 [==============================] - 0s 45ms/step - loss: -0.0924 - accuracy: 0.3125 - val_loss: -0.3782 - val_accuracy: 0.2917
Epoch 3/10
3/3 [==============================] - 0s 17ms/step - loss: -0.1698 - accuracy: 0.3125 - val_loss: -0.4910 - val_accuracy: 0.2917
Epoch 4/10
3/3 [==============================] - 0s 20ms/step - loss: -0.2451 - accuracy: 0.3125 - val_loss: -0.6024 - val_accuracy: 0.2917
Epoch 5/10
3/3 [==============================] - 0s 21ms/step - loss: -0.3286 - accuracy: 0.3125 - val_loss: -0.7081 - val_accuracy: 0.2917
Epoch 6/10
3/3 [==============================] - 0s 21ms/step - loss: -0.4124 - accuracy: 0.3125 - val_loss: -0.8022 - val_accuracy: 0.2917
Epoch 7/10
3/3 [==============================] - 0s 51ms/step - loss: -0.4709 - accuracy: 0.3125 - val_loss: -0.8920 - val_accuracy: 0.2917
Epoch 8/10
3/3 [==============================] - 0s 17ms/step - loss: -0.5338 - accuracy: 0.3125 - val_loss: -0.9752 - val_accuracy: 0.2917
Epoch 9/10
3/3 [==============================] - 0s 22ms/step - loss: -0.5951 - accuracy: 0.3125 - val_loss: -1.0560 - val_accuracy: 0.2917
Epoch 10/10
3/3 [==============================] - 0s 18ms/step - loss: -0.6454 - accuracy: 0.3125 - val_loss: -1.1365 - val_accuracy: 0.2917

In [31]:
predictions = model.predict(xtest)
predictions

1/1 [==============================] - 0s 302ms/step

array([[0.9622611 ],
       [0.9799615 ],
       [0.88012046],
       [0.9726544 ],
       [0.8606094 ],
       [0.9336284 ],
       [0.9731473 ],
       [0.96035004],
       [0.87060386],
       [0.96940976],
       [0.9713813 ],
       [0.977782  ],
       [0.95356476],
       [0.849457  ],
       [0.8840476 ],
       [0.9836303 ],
       [0.9745233 ],
       [0.8429522 ],
       [0.8812212 ],
       [0.842398  ],
       [0.98686343],
       [0.9837043 ],
       [0.97430915],
       [0.89452976],
       [0.96610343],
       [0.8503261 ],
       [0.96588075],
       [0.965703  ],
       [0.9737796 ],
       [0.9933906 ]], dtype=float32)

## Evaluation

In [32]:
model.evaluate(xtest,ytest)

1/1 [==============================] - 0s 26ms/step - loss: -0.2696 - accuracy: 0.4333

[-0.26956453919410706, 0.4333333373069763]